@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind apply;
@tailwind animations;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    font-family: 'jetBrains Mono', monospace;
    /* font-mono */
  }
}

@layer components {
  .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
}